header{
    background-color: cornflowerblue;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
    background-image: url("avenger.jpg");
    background-color: lightcyan;
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center 475px;
}
p{
    font: -apple-system, BlinkMacSysemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}
h1{
    color: white;
}
main{
    
    display: block;
    padding-left: 100px;
    padding-right: 70px;
}
input{
    height: 30px; 
    width: 700px;
    max-width: 80%;
    border-radius: 8px;
}
.btn{
    background-color: crimson;
    color: white;
    height: 30px; 
    width: 70px;
    max-width: 20%;
    border-radius: 8px;
}
.resultSec{
    font-size: 24px;
    color: black;
    box-shadow: 0px 1px 0px 0px;
}