header{
    background-color: cornflowerblue;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
p{
    font: -apple-system, BlinkMacSysemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}
h1{
    color: white;
}

input{
    height: 30px; 
    width: 800px;
    border-radius: 8px;
}
.btn{
    background-color: crimson;
    color: white;
    height: 30px; 
    width: 200px;
    border-radius: 8px;
}